:root {
  --main-color: #4D0302;
  --main-bg-color: #FFF6D6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-color);
  font-family: Inconsolata;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
}

h1 {
  font-size: 36px;
}

button {
  color: var(--main-color);
  font-family: Inconsolata;
  font-size: 18px;
  font-weight: bold;
}